<div class="card mb-3">
    <div class="card-header">
        <h3><a name="author"></a>Author</h3>
    </div>
    <div class="card-body" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <p class="text-center">
            <a href="/antonio.png" title="Antônio Vinícius">
                <img src="/antonio.png" alt="Antônio Vinícius" class="img-fluid img-thumbnail rounded-circle">
            </a>
        </p>
        {% if site.author.name %}
            <p class="lead text-center" itemprop="name">
                {{ site.author.name }}
            </p>
        {% endif %}
        <ul class="contact-list list-unstyled">
            {% if site.author.site %}
                <li><a href="{{ site.author.site }}" itemprop="url"><i class="fas fa-globe"></i> {{ site.author.site }}</a></li>
            {% endif %}
            {% if site.author.email %}
                <li><a href="mailto:{{ site.author.email }}" itemprop="email"><i class="fas fa-envelope"></i> {{ site.author.email }}</a></li>
            {% endif %}
        </ul>

            <ul class="social-media-list list-unstyled">
                {% if site.facebook.username %}
                    <li>
                        <a href="https://facebook.com/{{ site.facebook.username }}" itemprop="sameAs">
                            <i class="fab fa-facebook"></i> {{ site.facebook.username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" itemprop="sameAs">
                            <i class="fab fa-twitter"></i> {{ site.twitter_username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.instagram_username %}
                    <li>
                        <a href="https://instagram.com/{{ site.instagram_username }}" itemprop="sameAs">
                            <i class="fab fa-instagram"></i> {{ site.instagram_username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.linkedin_username %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" itemprop="sameAs">
                            <i class="fab fa-linkedin"></i> {{ site.linkedin_username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.youtube.profile and site.youtube.name %}
                    <li>
                        <a href="https://youtube.com/{{ site.youtube.profile }}/{{ site.youtube.username }}" itemprop="sameAs">
                            <i class="fab fa-youtube"></i> {{ site.youtube.name }}
                        </a>
                    </li>
                {% endif %}
                {% if site.telegram_username %}
                    <li>
                        <a href="https://t.me/{{ site.telegram_username }}" itemprop="sameAs">
                            <i class="fab fa-telegram"></i> {{ site.telegram_username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.foursquare_username %}
                    <li>
                        <a href="https://foursquare.com/{{ site.foursquare_username }}" itemprop="sameAs">
                            <i class="fab fa-foursquare"></i> {{ site.foursquare_username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" itemprop="sameAs">
                            <i class="fab fa-github"></i> {{ site.github_username }}
                        </a>
                    </li>
                {% endif %}
                {% if site.gitlab_username %}
                    <li>
                        <a href="https://gitlab.com/{{ site.gitlab_username }}" itemprop="sameAs">
                            <i class="fab fa-gitlab"></i> {{ site.gitlab_username }}
                        </a>
                    </li>
                {% endif %}
                <!--<li>
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                        <i class="fas fa-rss"></i> subscribe via RSS
                    </a>
                </li>-->
            </ul>
    </div><!-- .card-body -->
</div><!-- .card -->

<div class="card mb-3">
    <div class="card-body">
        {% include a-ads.html id="1580824" %}
    </div><!-- .col-xs-12 -->
</div><!-- .row -->

{% if site.google.adsense.sidebar_ad_unit and jekyll.environment == "production" %}
    <div class="card mb-3">
        <div class="card-body">
            {% include adsense.html id="sidebar_ad_unit" ad_slot=site.google.adsense.sidebar_ad_unit %}
        </div><!-- .col-xs-12 -->
    </div><!-- .row -->
{% endif %}

<div class="card mb-3" id="donate">
    <div class="card-header">
      <h3>
          <a name="donate"></a>
          Donate
      </h3>
    </div>
    <div class="card-body text-center">
        {% include btcpay.html %}
        {% include paypal.html %}
    </div><!-- .card-body -->
</div><!-- .card -->
